<style>
    #cart-display {
        font-size: 2vh;
    }

    #cart-subtotal {
        float: right;
        font-size: 2vh;
    }

    .cart__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .cart__image {
        height: 7vh;
        margin: 2vh;
    }

    .cart__name {
        font-size: 2vh;
        margin: 4vh;
        width: 50%;
    }

    .cart__quantity {
        font-size: 2vh;
        margin: 2vh;
    }

    .cart__remove {
        font-size: 2vh;
        margin: 2vh;
    }


    @media(orientation:portrait) {
        .cart__image {
            margin: 1vh;
        }

        .cart__name {
            margin: 2vh;
            width: 40%;
        }

        .cart__quantity {
            margin: 1vh;
        }

        .cart__remove {
            margin: 1vh;
        }
    }
</style>
<h2>Your Cart</h2>
<div id="cart-display">

</div>



<div id="cart-subtotal">

</div>





<script src="./../scripts/engine/templates.js"></script>
<script src="./../scripts/engine/display.js"></script>
<script src="./../scripts/cart.js"></script>

<script>
    displayCartData("cart-display");
    subTotal();
</script>