<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="footer">
    <div class="footer__image"></div>
    <div class="footer__image"></div>
    <div class="footer__image"></div>
    <div class="footer__image"></div>
    <div class="footer__image footer__mobile"></div>
    <div class="footer__image footer__mobile"></div>
    <div class="footer__image footer__mobile"></div>
    <div class="footer__image footer__mobile"></div>
    <div class="footer__image footer__mobile"></div>
    <div class="footer__image footer__mobile"></div>
    <div class="footer__image footer__mobile"></div>

    <div class="footer__content">
        <div style="margin-bottom:2vh;">
            <h2>SITEMAP</h2>
            <li><a href="/products">Our Products</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/blog">Our Blog</a></li>
            <li><a href="/faq">FAQ</a></li>
            <br><br>
        </div>

        <div style="margin-bottom:2vh;">
            <h2>POLICY</h2>
            <li><a href="/policy">Shipping Policy</a></li>
            <li><a href="/policy">Return Policy</a></li>
            <br>
            <li><img style="height:4vh; width:7vh" src="{{home}}/img/usa.png" alt="">&nbsp;&nbsp;<img
                    style="height:4vh; width:7vh" src="{{home}}/img/canada.png" alt=""></li>
            <br>
            <li>
                <label>** All Prices Are In US Dollars</label>
            </li>
        </div>

        <div>
            <h2>SOCIAL MEDIA</h2>
            <div>
                <a href="https://www.instagram.com/mycotraxfeed/">
                    <i class="fa fa-instagram footer__links"></i>
                </a>
                <a href="https://twitter.com/mycotrax"><i class="fa fa-twitter footer__links"></i></a>
                <a href="mailto:support@mycotrax.com"><i class="fa fa-envelope footer__links"></i></a>
                <a href="/blog"><i class="fa fa-rss footer__links"></i></a>

            </div>
            <a href="/login">
                <img class="footer__logo" src="{{home}}/img/mycotrax.png" alt="">
            </a>
        </div>

    </div>
</div>