<div class="reviews">
    <h1>Testimonials</h1>
    <div class="reviews__column">
        <div class="reviews__review">
            <div class="reviews__row">

                <img src="./img/testimonial-3.jpg" alt="" class="reviews__image">



                <div class="reviews__review-column">
                    <div class="reviews__review-name">Ella Cassidy</div>
                    <br>
                    <div class="reviews__review-content">I love using Mycotrax extracts. I add them to all my smothies
                        every morning and it definity provides an extra umph to my workout and feel less fatigued
                        through out the day.</div>
                    <br>
                    <div class="reviews__review-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>

            <br>
            <div class="reviews__review">
                <div class="reviews__row">

                    <img src="./img/testimonial-3.jpg" alt="" class="reviews__image"><br>

                    <div class="reviews__review-column">
                        <div class="reviews__review-name">Danielle Mueller</div>
                        <br>
                        <div class="reviews__review-content">I was able to cut caffiene out of my diet completly which
                            greatly helped my complexion and my anxiety</div>
                        <br>
                        <div class="reviews__review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <br>
                <div class="reviews__review">
                    <div class="reviews__row">

                        <img src="./img/testimonial-3.jpg" alt="" class="reviews__image">



                        <div class="reviews__review-column">
                            <div class="reviews__review-name">Terra Chow</div>
                            <br>
                            <div class="reviews__review-content">I use these extracts all the time, It helps with my
                                cardio workouts,
                                I have noticed a hightened level of energy thanks to using Chaga extact,
                            </div>
                            <br>
                            <div class="reviews__review-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider__seperator"></div>