<link rel="stylesheet" href="./../css/responsive.css">
<link rel="stylesheet" href="../../css/loading.css">
<link rel="stylesheet" href="../../css/cloud.css">
<link rel="stylesheet" href="../../css/form.css">
<link rel="stylesheet" href="../../css/auth-pop-up.css">
<div id="loading"></div>
{{!-- BLOG --}}
<div class="row-top" id="blog">
    <div class="column-left seperator-33">
        <button class="cloud-button" onclick="createInputForm('blog','create-blog-display')">CREATE BLOG</button>
        <button class="cloud-button" onclick="_XML('GET','blog','?page=1&limit=1','blog-display', '')">GET ALL BLOG
            POST</button>
        <button class="cloud-button"
            onclick="_XML('GET','blog','?sort=-timeCreated&page=1&limit=10','blog-display')">NEWEST</button>
        <button class="cloud-button"
            onclick="_XML('GET','blog','?sort=timeCreated&page=1&limit=10','blog-display')">OLDEST</button>
        <button class="cloud-button" onclick="reset()">RESET PAGE</button>
        <div id="blog-display"></div>
        <div id="blog-paginate"></div>
    </div>
    <br>
    <br>
    <div class="seperator-33">
        <div id="update-blog-display"></div>
        <div id="create-blog-display"></div>
    </div>
    <br>
    <br>
    <div class="seperator-33">
        <div id="comments-display">
        </div>
        <div id="comments-paginate">
        </div>
    </div>
</div>
{{!-- REVIEWS --}}
<br>
<br>
<div class="row-top" id="blog">
    <div class="column-left seperator-33">
        <button class="cloud-button" onclick="_XML('GET','reviews','?page=1&limit=1','reviews-display', '')">GET ALL
            REVIEWS
            POST</button>
        <button class="cloud-button"
            onclick="_XML('GET','reviews','?sort=-createdAt&page=1&limit=10','reviews-display', '')">NEWEST</button>
        <button class="cloud-button"
            onclick="_XML('GET','reviews','?sort=createdAt&page=1&limit=10','reviews-display', '')">OLDEST</button>
        <button class="cloud-button"
            onclick="_XML('GET','reviews','?sort=-rating&page=1&limit=10','reviews-display', '')">HIGHEST</button>
        <button class="cloud-button"
            onclick="_XML('GET','reviews','?sort=rating&page=1&limit=10','reviews-display', '')">LOWEST</button>
        <button class="cloud-button" onclick="reset()">RESET PAGE</button>
    </div>
    <div class="seperator-33">
        <div id="reviews-display"></div>
        <div id="reviews-paginate"></div>
    </div>

    <div class="column-left seperator-33">
        <button class="cloud-button" onclick="_XML('GET','products','?page=1&limit=2','products-display', '')">GET ALL
            PRODUCTS
        </button>
        <button class="cloud-button"
            onclick="_XML('GET','products','?price=h2l&page=1&limit=10','products-display', '')">HIGHEST
            PRICE
        </button>
        <button class="cloud-button"
            onclick="_XML('GET','products','?price=l2h&page=1&limit=10','products-display', '')">LOWEST
            PRICE</button>
        <button class="cloud-button"
            onclick="_XML('GET','products','?rating=h2l&page=1&limit=10','products-display', '')">HIGHEST
            Rating
        </button>
        <button class="cloud-button"
            onclick="_XML('GET','products','?rating=l2h&page=1&limit=10','products-display', '')">LOWEST
            RATING</button>

        <br>
        <br>
        <div id="products-display"></div>
        <div id="single-products-display"></div>
        <div id="products-paginate"></div>
    </div>
</div>
<br>
<br>
{{!-- FILE --}}
<div class="row-top" id="files">
    <div class="column-left seperator-33">
        <button class="cloud-button" onclick="display('file-upload', true)">Upload File</button>
        <button class="cloud-button" onclick="_XML('GET','files','','files-display', '')">GET ALL FILES</button>
        <button class="cloud-button" onclick="reset()">RESET PAGE</button>
        <div id="files-display">
        </div>
    </div>
    <div class="column-left seperator-67">
        {{>dropbox}}
        <div id="upload-files-display">
        </div>
    </div>
</div>
<br>
<br>
{{!-- SUBSCRIBERS --}}
<div id="subscribers">
    <div class="row-top">
        <div class="column-left seperator-33">
            <button class="cloud-button" onclick="createInputForm('subscribers','create-subscribers-display')">CREATE
                SUBSCRIBERS
                NEWSLETTER</button>
            <button class="cloud-button" onclick="_XML('GET','subscribers','','subscribers-display','')">Get All
                Subscribers</button>
            <button class="cloud-button" onclick="reset()">RESET PAGE</button>
            <div id="subscribers-display">
            </div>
        </div>
        <div class="seperator-67" id="create-subscribers-display">
        </div>
    </div>
</div>









<div id="auth-pop-up"></div>
<div id="success-pop-up"></div>
<input hidden type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}">


{{!-- AUTHORIZED POP UP --}}
<script src="./../scripts/engine/auth-popup.js"></script>
<script src="./../scripts/engine/success-popup.js"></script>
{{!-- UX ENGINE --}}
<script src="./../scripts/engine/adminFunctions.js"></script>
<script src="./../scripts/engine/bodyCreate.js"></script>
<script src="./../scripts/engine/errorHandling.js"></script>
<script src="./../scripts/engine/adminTemplates.js"></script>
<script src="./../scripts/engine/display.js"></script>
<script src="./../scripts/engine/pagination.js"></script>

<script>
    var reset = function () {
        document.getElementById("create-subscribers-display").innerHTML = "";
        document.getElementById("subscribers-display").innerHTML = "";
        document.getElementById("upload-files-display").innerHTML = "";
        document.getElementById("files-display").innerHTML = "";
        document.getElementById("products-display").innerHTML = "";
        document.getElementById("single-products-display").innerHTML = "";
        document.getElementById("products-paginate").innerHTML = "";
        document.getElementById("reviews-paginate").innerHTML = "";
        document.getElementById("reviews-display").innerHTML = "";
        document.getElementById("blog-display").innerHTML = "";
        document.getElementById("blog-paginate").innerHTML = "";
        document.getElementById("update-blog-display").innerHTML = "";
        document.getElementById("create-blog-display").innerHTML = "";
        document.getElementById("comments-display").innerHTML = "";
        document.getElementById("comments-paginate").innerHTML = "";
        display('file-upload', false)
    }
</script>