<style>
    .reciept__container {
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5vh;
    }

    .reciept__container>i {
        font-size: 20vh;
        color: green;
    }

    .reciept__container>a {
        font-size: 2vh;
        color: black;
    }
</style>
<div class="reciept__container">
    <i class="fa fa-check"></i>
    <h1>Thank You For Your Purchase</h1>
    <p>If You Have Any Questions About Your Purchase Contact Us At</p>
    <br>
    <a href="mailto:support@mycotrax.com">Send Message</a>

</div>

<script src="./../scripts/cart.js"></script>
<script src="./../scripts/checkout.js"></script>