 i {
     color: rgba(0, 0, 0, 0.37);
     font-size: 2vh;
 }

 .solid {
     padding: .5vh;
     color: gold;
     opacity: 1
 }

 .solid:hover {
     color: gold;
     opacity: 1
 }

 #star-rating-1 {
     color: gold;
     opacity: 1
 }