<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mycotrax</title>
</head>
<style>
    body {
        padding: 5%;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 300;
        color: rgb(32, 32, 32);
        letter-spacing: 2px;
        white-space: pre-wrap;
    }

    a {
        text-decoration: none;
        color: black
    }
</style>

<body>{{body}}</body>
<footer><a href="https://mycotrax.com/">Mycotrax</a>
    <img src="https://mycotrax.com/img/mycotrax.png" alt=""></footer>

</html>